body{
    background-color: rgba(181, 255, 230, 0.893);
    color: #065302;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.buttons{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

form{
    margin-bottom: 20px;
}

input[type="text"], 
input[type="date"], 
input[type="number"], 
select, 
textarea {
    width: 100%;
    padding: 8px 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

button{
    display: block;
    margin: 20px auto;
    background-color: #033900;
    color:#fff;
    padding: 15px 30px;
    border:2px solid hsl(120, 60%, 30%);  
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
}

button:hover {
    background-color: #0f9808;
}

/*Links */
a {
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

/*messages*/
h3{
    color: green;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td{
    border: 1px solid #ddd;
}

th, td{
    padding: 10px;
    text-align: left;
}

.btn{
    display: inline-block;
    padding: 8px 16px;
    margin-right: 10px;
    background-color: #033900;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.btn:hover{
    background-color: #0f9808;
}
